body
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(216, 216, 216);
}

h1
{
color: rgb(107, 107, 107);
font-size: 33px;
padding-top: 4%;
padding-bottom: 4%;
font-weight: bold;
}

.container
{
    background-color: white;
    max-width: 900px;
    text-align: justify;
    font-size: 12px;
}

img
{
    max-width: 70%;
    padding-top: 5%;
}

.greyebg
{
    background-color: rgb(177, 177, 177);
    color: white;
    padding-top: 10%;
}

