body
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(191, 219, 255);
}

h1
{
color: rgb(8, 90, 184);
font-size: 33px;
padding: 11px;
}

.container
{
    background-color: white;
    padding-bottom: 11px;
    max-width: 900px;
    padding-top: 50px;
}

