body
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(191, 219, 255);
}

h1
{
color: rgb(8, 90, 184);
font-size: 33px;
padding-top: 2%;
padding-bottom: 4%;
font-weight: bold;
}

.container
{
    background-color: white;
    padding-bottom: 10%;
    max-width: 900px;
    text-align: justify;
}

img
{
    max-width: 70%;
    padding-top: 5%;
}

.bluebg
{
    background-color: rgb(110, 110, 255);
}

