body
{
background-color: rgb(255, 245, 231);
max-width: 700px;
margin-left: 400px;
margin-top: 100px;
}

header
{
background-color: rgb(219, 17, 145);
border: 3px solid rgb(255, 255, 255);
}


h1 
{
font-family: 'Times New Roman', Times, serif;
font-size: 45px;
font-weight: bold;
color: rgb(59, 8, 36);
text-align: center;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(223, 0, 156);
    text-align: center;
}

p
{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
color: rgb(105, 60, 2);
text-align:  center;
}

h1.warning,note
{
    color: rebeccapurple;
    background-color: rgb(255, 255, 255);
}

article > p
{
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
border: 3px solid rgb(84, 0, 153);
padding: 11px;
padding-top: 2px;
}


