.flex1
{
    display: flex;
    background-color: rgb(241, 156, 8);
    align-content: space-between;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.flex1 > div
{
    background-color: rgb(76, 79, 241);
    margin: 22px;
    text-align: center;
    line-height: 12px;
    font-size: 15px;
    width: fit-content;
}

.flexcolumn
{
    background-color: rgb(161, 211, 156);
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.box
{
    float: left;
    width: 160px;
    min-height: 550px;
    background-color: forestgreen;

}