h1 
{
font-family: 'Times New Roman', Times, serif;
font-size: 20pxpx;
font-weight: bold;
color: rgb(219, 20, 47);
}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 10px;
color: rgb(105, 60, 2);

}