.flex1
{
    display: flex;
    background-color: wheat;
    align-content: space-between;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}