body
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: white;
margin: 0;
}

header
{
background-color: rgb(255, 222, 74);
height: 100px;
font-size: 20px;
font-weight: bold;
font-style: oblique;
color: rgb(15, 75, 0);
text-align: center;
padding-top: 3%;
}

h2
{
     font-size: 22px;
    font-weight: bold;
    color: rgb(255, 123, 0);
    text-align: left;
    padding-left: 11%;
}


div
{
font-size: 11px;
color: rgb(4, 29, 11);
text-align: justify;
padding-left: 22%;
width: 55%;
}

.navstyle
{
    background-color: seagreen;
    width: 20%;
    font-size: 16px;
    height: 100%;
    float: left;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li a
   {
    display: block;
    color: rgb(255, 217, 1);
    padding: 8px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: rgb(255, 145, 117);
    color: rgb(24, 145, 0);
  }


img
{
    border: solid rgb(111, 207, 0) 2px;
    padding: 2px; 
}


footer
{
background-color: rgb(255, 223, 62);
font-size: 13px;
color: rgb(112, 38, 11);
width: 100%;
padding-left: 23%;
bottom: 0;
}
