.flex1
{
    display: flex;
    background-color: rgb(141, 93, 5);
    align-content: space-between;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex1 > div
{
    background-color: gray;
    margin: 22px;
    text-align: center;
    line-height: 12px;
    font-size: 45px;
    width: fit-content;
}